[2018-02-03 00:17] MichelDiz opened #1 "Works with expo?"

[2018-02-03 13:17] prscX commented on #1
Thanks @MichelDiz for the query.

Tomorrow I am planning to release this library, unfortunately this will not be available on expo since it is dependent on native libraries. However once it is released you can download and try the example.

Thanks
Pranav

[2018-02-03 15:25] #1 closed

[2018-02-11 20:08] Noitidart opened #2 "So great so needed! Not a single native PopupMneu solution out there"
Thank you so much for this!! I have been looking for an Android popup style that agrees with native PopupMenu look and you gave the the native PopupMenu itself! Thank you!

I was trying to use stuff like this - `https://github.com/mxck/react-native-material-menu/issues/12`

Way bonus is the iOS perfect popover menu!

[2018-02-11 20:08] #2 closed

[2018-02-11 20:12] Noitidart opened #3 "iOS controlling pointiness of arrow"
Is it possible to control the round-ness/pointy-ness of the arrow on iOS? And non-blur but opaqueness Like iOS 7 design has:

http://iosguides.net/icloud-website-updated-ios-7-design-style/

![](http://iosguides.net/wp-content/uploads/2013/08/iCloud-Menu-iOS-7.jpg)

![](http://iosguides.net/wp-content/uploads/2013/08/Reminders-List-iCloud-iOS-71.jpg)

[2018-02-11 20:13] Noitidart opened #4 "iOS controlling position of arrow"
Is it possible to put the arrow on the horizontal sides or bottom side of the menu?

Currently it only comes up on top side.

Here are examples on iOS where they do other sides:

![](http://www.completedynamics.com/images/ios/gui/popup_menu_case_sharing_p_t_en.png)

From - http://www.completedynamics.com/help/cdhelp_case_module_case_sharing_p_ios_tablet_en.html

![](http://iosguides.net/wp-content

[2018-02-11 20:39] Noitidart opened #5 "Android "buildToolsVersion is not specified""
I did:

[code]

But then the run-android command ends with:

[code]

[2018-02-12 08:58] prscX commented on #2
Thanks @Noitidart for the appreciation 👍 😄

[2018-02-12 09:01] prscX commented on #5
Thanks @Noitidart for raising the issue.

Basically `buildToolsVersion` is missing from library. Can you please try `buildToolsVersion` as `27.0.3` in rn-popover-menu `build.gradle` file and run it once.

I was under impression that it should pick `buildToolsVersion` from your app and build the same. If it works can you please raise a PR for the same.

Thanks
Pranav

[2018-02-12 09:11] Noitidart commented on #2
Thank you my man!! I was looking for ages and tried all kinds of other js only solutions but it was so not the native feel. I tried:

* https://github.com/instea/react-native-popup-menu
* https://github.com/mxck/react-native-material-menu
* https://github.com/instea/react-native-popup-menu

They felt so bad, so I then tired and struggled to try to write my own Native UI Component for popover from

[2018-02-12 09:12] Noitidart commented on #5
On it right away. Will report back how it goes.

If I change build tools version, when I compile my app, will it work down to Android 4.1 (which is minimum android RN supports)?

[2018-02-12 09:19] Noitidart commented on #5
So I went into build.gradle here - https://github.com/prscX/react-native-popover-menu/blob/master/android/build.gradle#L16

I changed it to:
[code]
Just added that third line.

However I get this error when I run react-native run-android:

In short I think the error is `com.android.support:appcompat-v7:27.0.2`. Here is full:

[code]

[2018-02-12 09:51] Noitidart commented on #5
I noticed some lines that differed in the example build.gradle

There is `google()` here:

* https://github.com/prscX/react-native-popover-menu/blob/master/Example/android/build.gradle#L6
* https://github.com/prscX/react-native-popover-menu/blob/master/Example/android/build.gradle#L24

And then here it is `3.0.1`:

* https://github.com/prscX/react-native-popover-menu/blob/master/Example/android/bu

[2018-02-12 09:53] prscX commented on #2
Completely agree with your concern @Noitidart, but native bridge will always come with few limitation such as:

- We have to trade on few features, since we might not find exact libraries on both Android & iOS.
- Maintains is difficult, since both platform libraries are written in native and by different contributors.

But I am doing a trade on features rather then on look and feel. For projects w

[2018-02-12 09:55] prscX commented on #2
I am looking into other issues as well which you have raised. I will revert back ASAP 😄

Thanks
Pranav

[2018-02-12 14:27] Noitidart commented on #2
Thanks @prscX ! I'm very excited to use this. I just woke up and first thing I checked was here :D No rush though please, you maintain so many things. We are all thankful to you and the others for these amazing works!

[2018-02-12 15:27] prscX commented on #3
Thanks @Noitidart for raising the query.

I have looked into [liufengting/FTPopMenu](https://github.com/liufengting/FTPopMenu) API's, but unfortunately it does not provide any API to customise arrow.

Their is one more library from same author [liufengting/FTPopOverMenu](https://github.com/liufengting/FTPopOverMenu), where I guess we can customize the arrow. However before exploring that I will ch

[2018-02-12 15:33] Noitidart commented on #3
Thank you! No problemo though. This was just me thinking ahead to what people would need.

[2018-02-12 15:34] prscX commented on #4
Thanks @Noitidart for raising the issue.

I am really sorry, but I did not understood the raised concern.

Thanks
Pranav

[2018-02-12 15:41] prscX commented on #3
In current implementation we can just render menu options in a list. May be we can have a separate library with native iOS 7 popover where inside we should be able to render any react view, may be that will fulfil the need.

Thanks
Pranav

[2018-02-12 22:37] Noitidart commented on #4
Oh excuse that please I'll make more clear. By default it seems this module is putting the arrow only on the top side like this:
![screenshot-2018-2-12 liufengting ftpopmenu](https://user-images.githubusercontent.com/6372489/36123611-2055d716-1002-11e8-96eb-ac578c73e0cb.png)

But i was hoping to also allow it to be on left side depending on space. Or is this automatically handled? So maybe my issu

[2018-02-12 23:38] danielang opened #6 "[Android] selection index onDone doesn't count the submenu-items"
If you open a menu with subitems like the menu of your example, then the selection index in the onDone-callback is alway the index of the parent menu (which holds the submenus)

[2018-02-13 01:21] cinder92 opened #7 "onDone is not working on iOS"
Hello, the event onDone is not alerting neither consoling nothing.

[code]

any idea?

[2018-02-13 12:17] danielang commented on #5
I've solved this problem with the following modification in my android/build.gradle:
[code]

And update my android/app/build.gradle with the following:
[code]

[2018-02-13 16:46] Noitidart commented on #5
Thanks @danielang! I will test this on the weekend when I get back, and report back.

[2018-02-13 21:30] Noitidart commented on #3
Oh interesting, even in latest iOS maps they use an opaque popover:

![screenshot-2018-2-13 textnow](https://user-images.githubusercontent.com/6372489/36174738-1302d6a2-10c2-11e8-9836-31ff721aeef8.png)

[2018-02-14 23:10] cinder92 commented on #6
same issue here

[2018-02-14 23:19] cinder92 commented on #6
@danielang open file `RNPopoverMenuModule.java` then replace line `130` for

`onDone.invoke(menuIndex, menuIndex);`

it works for me :)

[2018-02-15 23:19] danielang commented on #6
Hey @cinder92 thank you for your hint 🙂
Your solution has one problem: It will not work if you have more then one root-menu. Like this:
[code]

I've now toke a look in the code and see that @prscX has forgotten to pass trough the `menuIndex` on JS-side. My PR #8 will fix this.

[2018-02-16 11:07] prscX commented on #3
Thanks @Noitidart for sharing the design.

It look really nice and appealing 👍. Currently I am stuck with couple of other items, but definitely it is in my next todo list 😄

Thanks
Pranav

[2018-02-16 11:23] prscX commented on #7
Thanks @cinder92 for reporting the issue.

Coming weekend I will have a look to the raised issue and will updated with the results.

Thanks
Pranav

[2018-02-16 14:29] Noitidart commented on #3
Sincerest thanks for your and all contributors incredible work. It is so so helpful for those who struggle with creating native modules.

[2018-02-18 18:40] #6 closed

[2018-02-19 14:58] prscX commented on #5
Thanks @danielang for sharing the fix.

In library `build.gradle` file `buildToolsVersion` is not specified, should we include it?

Thanks
Pranav

[2018-02-21 14:27] danielang opened #9 "[FR][Android] tintColor/darkmode for Android"
Hey @prscX
this is a feature-request. It would be very nice if we can theme the Popover on Android.
Is this possile?

The native library has the capability for that:
![DarkTheme](https://raw.githubusercontent.com/zawadz88/MaterialPopupMenu/master/art/sample_toolbar_dark.png)

Thank you!

[2018-02-21 15:23] prscX commented on #9
Thanks @danielang for raising the query.

Definitely it is possible, may be we can expose a theme prop and based on this we apply the standard theme.

Coming weekend I will try to enable this feature or in case you are interested to take this up, please feel free to raise PR for the same.

Thanks
Pranav

[2018-02-21 15:40] danielang commented on #9
Hey @prscX,
this would be so awesome! Thank you!

[2018-02-21 19:28] danielang commented on #5
Yes, I think so. Every other react-native library I saw provides this entries in their `build.gradle`file. For example:
* [Firebase](https://github.com/invertase/react-native-firebase/blob/master/android/build.gradle)
* [RN-Device-Info](https://github.com/invertase/react-native-firebase/blob/master/android/build.gradle)
* [RN-Gesture-Handler](https://github.com/kmagiera/react-native-gesture-handle

[2018-02-27 22:49] danielang opened #10 "[Android] Order of items ruined if menu has to scroll"
Hello @prscX
I've found a strange bug on Android: If the menu has to scroll (in case the keyboard is displayed), the order of the icons which are not displayed gets messed up. See the attached [Video](https://drive.google.com/file/d/1Wlx_cpk9GRpxElUdS4gmKv26r0iG-wXf/view).
Thank you!

[2018-02-27 23:15] danielang opened #11 "[Android] Icons are not displayed in release-build"
Hello @prscX
In the release-build of my app the icons of the popover component are not displayed.
It works fine on iOS and Android-debug-build.

[2018-02-28 07:43] prscX commented on #9
Hi @danielang,

I have enabled theme support but I am experiencing few issue with native library in order to set dark theme programatically. I have raised the same to [MaterialPopupMenu: 12](https://github.com/zawadz88/MaterialPopupMenu/issues/12), once it is resolved we will be able to set theme dynamically.

I will keep you posted.

Thanks
Pranav

[2018-02-28 07:47] prscX commented on #5
Hi @danielang + @Noitidart,

I have added the `buildToolsVersion` in library `build.gradle`. I am working on couple of other issues as well, once those are resolved I will publish the latest version.

Thanks
Pranav

[2018-02-28 07:50] prscX commented on #11
Thanks @danielang for raising the issue.

My bad, I have never checked this on release build. I can understand the priority of this issue, please give me some time I will test and resolve the same.

Thanks
Pranav

[2018-02-28 07:54] prscX commented on #10
Thanks @danielang for raising the issue.

That's strange. I will create a similar sample app to test the same, or if possible can you please share your app landing page on Expo in order to test the same.

Thanks and Regards,
Pranav

[2018-02-28 10:47] danielang commented on #10
Hey @prscX
I've created a short example of the screen you can take a look in the issues branch of my fork: [https://github.com/danielang/react-native-popover-menu/tree/issues](https://github.com/danielang/react-native-popover-menu/tree/issues)

[2018-03-01 02:51] developBigXY opened #12 "Error RNPopoverMenu.Show"
![image](https://user-images.githubusercontent.com/30647958/36824560-fbb78cee-1d3d-11e8-8931-3f6216fa852c.png)
![image](https://user-images.githubusercontent.com/30647958/36824605-28e571ea-1d3e-11e8-95d9-6d6e445ced8d.png)

[2018-03-01 03:25] developBigXY commented on #12
I Konw,wrong ref lead to this

[2018-03-01 03:25] #12 closed

[2018-03-02 14:34] prscX commented on #10
Thanks @danielang for sharing the example.

I have tested the same workflow but it is working as expected for me. Please find below screenshot of the same:

<img width="532" alt="screen shot 2018-03-02 at 8 02 06 pm" src="https://user-images.githubusercontent.com/28862892/36903757-a2aefb1a-1e54-11e8-9ae4-cce815d9b3b0.png">
<img width="535" alt="screen shot 2018-03-02 at 8 02 13 pm" src="https://us

[2018-03-02 14:36] #7 closed

[2018-03-02 14:36] #5 closed

[2018-03-02 14:39] prscX commented on #5
Hi @danielang + @Noitidart, I am closing this issue since it was fixed the latest version and wanted to focus the open items.

Let me know in case you face any issue.

Thanks
Pranav

[2018-03-02 14:40] prscX commented on #7
Hi @cinder92, I am closing this issue since it was fixed in the latest version and wanted to focus the open items.

Let me know in case you face any issue.

Thanks
Pranav

[2018-03-02 14:41] Noitidart commented on #5
Thank you @prscX !! Will try when latest is on npm

[2018-03-02 15:03] danielang commented on #10
Hey @prscX,
It is very important that the list is bigger then your screen.
In my case the resolution is smaller than yours. So you have to increase the amount of items in the popover.

Thank you,
Daniel

[2018-03-03 05:22] prscX commented on #5
Hi @Noitidart, Latest version is already publish on npm, you can try by installing latest v0.0.4.

Thanks
Pranav

[2018-03-03 15:53] Noitidart commented on #5
Thanks @prscX! I'm trying it now. :)

[2018-03-03 16:34] Noitidart commented on #5
Darn. I did `react-native init onesignal` (just dummy name for new project). Then npm i then react-native-link and then react-native start and react-native run-android and I am getting same error:

[code]

:(

[2018-03-04 06:11] prscX commented on #5
My sincerely apologise, not sure how this got missed.

I have released a new V0.0.6, can you please download and verify the same.

Please make sure that your app SDK is 27 >. Let me know in case you still face any issues.

Thanks
Pranav

[2018-03-05 09:18] danielang commented on #10
@prscX are you able to reproduce the bug?

[2018-03-05 09:33] prscX commented on #10
Yes @danielang, I am able to reproduce the issues, I have spent couple of hours, then I started looking to icons issue in production. Please give me some more time, I will definitely get back to you with results.

Thanks
Pranav

[2018-03-18 12:57] prscX commented on #9
Hi @danielang,

I have enabled `dark` theme support on Android. Can you please download `v0.0.8` and  verify the same.

Let me know in case you face any issues.

Thanks
Pranav

[2018-03-18 12:57] #9 closed

[2018-03-18 14:47] prscX commented on #11
Hi @danielang,

I have done a detailed research but I am not able to find the right solution for this issue. Basically in native we receive image url which is working as excepted in debug mode but on production it is not generating the right output.

One of the possible workaround I am thinking is to migrate to [react-native-vector-icons](https://github.com/oblador/react-native-vector-icons). Doin

[2018-03-18 16:32] prscX commented on #10
Hi @danielang,

I have figured that this issue is related to native library [zawadz88/MaterialPopupMenu](https://github.com/zawadz88/MaterialPopupMenu). I have raised the same: [ISSUE: 14](https://github.com/zawadz88/MaterialPopupMenu/issues/14).

I will sync @zawadz88 and will keep you posted about the updates.

Thanks
Pranav

[2018-03-19 06:00] prscX commented on #10
Hi @danielang,

The issue is fixed by @zawadz88. Can you please install latest V0.0.9 and verify the same.

Let us know in case you still face the same issue.

Thanks
Pranav

[2018-03-19 06:01] #10 closed

[2018-03-26 13:38] danielang commented on #11
Hey @prscX
Thank you for the fixes and your commitment and sorry for my late response. I was pretty busy the last weeks.

I think their must be a solution for this issue. Perhapse we have to check how the Image-Component does the loading of an image in a production build.
react-native-vector-icons is a possibility, BUT it will limit this library and creates additional dependencies.

[2018-03-26 15:08] prscX commented on #11
Hi @danielang,

Completely agree with your views. May be we can enable/support both ways of providing icons. For quick workaround I can enable support for `react-native-vector-icons` and going forward based on R&D we can fix the issue.

Thanks
Pranav

[2018-03-31 07:58] prscX commented on #11
Hi @danielang , I have enabled the support for [react-native-vector-icons](https://github.com/oblador/react-native-vector-icons), now you will be able to integrate and use their icons. Please follow `README` in order to use the same.

Can you please install latest version and verify the same. Please let me know in case you face any issues.

Thanks
Pranav

[2018-03-31 09:48] #11 closed

[2018-05-01 09:33] rf1804 commented on #4
Hey @prscX i've mailed u on `pranavchauhan01@gmail.com` for some help, please revert me if u can.
Thanks

[2018-05-08 11:54] petrkrizek opened #13 "[ios] last item border should not be visible"
On iOS, the last item has bottom border, it should not be there.

![border-bug](https://user-images.githubusercontent.com/37615991/39755664-0994bfee-52c7-11e8-852a-419435a2ca27.jpg)

[2018-05-18 16:00] petrkrizek commented on #13
@prscX any update? :) Thanks

[2018-05-30 07:34] dungnguyen10989 opened #14 "iOs error when call Popover.Show"
![simulator screen shot - iphone 6 - 2018-05-30 at 14 31 53](https://user-images.githubusercontent.com/30271788/40705925-6c93d534-6416-11e8-914d-83b26be669d8.png)
<img width="801" alt="screen shot 2018-05-30 at 2 33 49 pm" src="https://user-images.githubusercontent.com/30271788/40705951-810b159a-6416-11e8-97ee-e4e9133ca41d.png">
 I copy code in example and received this error when I trying show Po

[2018-05-30 07:38] #14 closed

[2018-05-30 09:16] dungnguyen10989 opened #15 "How can custom style for Popup, row and text ?"
If I call Show method without tintColor props, Popup will appear with background = transparent, If I pass props tintColor equal any string value, Popup will appear with background = blue, I dev on iOs, can author help me how  can I pass props when call Show() method to change style of Popup background, label fontSize and labelColor ?

[2018-05-30 11:03] prscX commented on #15
Thanks @dungnguyen10989 raising the query.

This library is a wrapper around native provided libraries [FTPopMenu](https://github.com/liufengting/FTPopMenu). Unfortunately FTPopMenu does not provid any props in order to modify font size and label color. However you can pass HEX-COLOR to tintColor prop in order to set the popup background.

Thanks
</ Pranav >

[2018-05-31 03:49] dungnguyen10989 commented on #15
Tks for reply @prscX.
Here is my code to invoke popup:
[code]
I passed tintColor = red by HEX but the popup still show with backgroundColor = blue ?
![simulator screen shot - iphone 6 - 2018-05-31 at 10 49 12](https://user-images.githubusercontent.com/30271788/40760278-4435d5ba-64c0-11e8-9ce1-6f71c23124f5.png)

[2018-05-31 11:20] prscX commented on #15
Thanks @dungnguyen10989 for sharing the issue screenshot.

I have tested the same with example project and it is giving me expected output. Please find below screenshot of the same:

<img width="171" alt="screen shot 2018-05-31 at 4 48 17 pm" src="https://user-images.githubusercontent.com/28862892/40779425-9d3f9b28-64f2-11e8-9878-e6163de06fad.png">

- Source Snippet:

[code]

Can you please share

[2018-05-31 11:47] dungnguyen10989 commented on #15
@prscX  ok thanks for support, i put referrence in other context, but can you resolve this issue ?
![simulator screen shot - iphone 6 - 2018-05-31 at 18 43 47](https://user-images.githubusercontent.com/30271788/40780528-de3ffd56-6502-11e8-958b-763eb6176d16.png)
![simulator screen shot - iphone 6 - 2018-05-31 at 18 43 50](https://user-images.githubusercontent.com/30271788/40780529-df1b860a-6502-11e

[2018-05-31 13:46] dungnguyen10989 commented on #15
@prscX thank you for recommend me a solution, but i want to show popup menu for each row of flatlist. Have any solution to custom shape of popup to square without tail ? it's the same as context menu on android, it will be appear at center of screen. Maybe you should fork a new repo from https://github.com/liufengting/FTPopMenu and provide more option to custom popup, i like this component very mu

[2018-06-01 12:33] prscX commented on #15
Hi @dungnguyen10989, I have migrated iOS native library from [liufengting/FTPopMenu](https://github.com/liufengting/FTPopMenu) to [liufengting/FTPopOverMenu](https://github.com/liufengting/FTPopOverMenu) which provides greater flexibility in order to customize things.

Can you please install latest version `0.0.13` and verify the same. Please follow `README` for the installation steps.

Let me kno

[2018-06-02 11:18] prscX commented on #13
Hi @petrkrizek,

I have migrated iOS native library from [liufengting/FTPopMenu](https://github.com/liufengting/FTPopMenu) to [liufengting/FTPopOverMenu](https://github.com/liufengting/FTPopOverMenu) for better API's. Can you please install latest library and verify the same.

Please follow `README` for the installation steps. Let me know in case you still face the same issue.

Thanks
</ Pranav >

[2018-06-02 11:36] prscX commented on #13
Hi @petrkrizek, I have verified and is working as expected post upgrading the library version.

For now I am closing this issue. Let me know if you face any issues.

Thanks
</ Pranav >

[2018-06-02 11:36] #13 closed

[2018-06-25 10:44] craig95 opened #19 "Java Error when calling RNPopover.Show(): Attempt to invoke virtual method 'double java.lang.Double.doubleValue()' on a null object reference"
When I call RNPopover.Show() I get get the following error: Attempt to invoke virtual method 'double java.lang.Double.doubleValue()' on a null object reference. I think it is because the ref I am passing is undefined, but I don't understand why.

Here is my code:

[code]

[code]

[code]

[2018-06-25 11:49] craig95 commented on #19
I fixed it by passing this.ref1 directly to RNPopover.Show() not through the parameters.

[2018-07-12 12:20] movibe commented on #19
I was able to resolve the bug using delayLongPress

[code]

[2018-07-18 10:14] RomaricDel opened #20 "[Android] com.facebook.react.views.text.ReactTextView cannot be cast to android.view.ViewGroup"
Hi,
I'm getting an error while trying to display the menu on android.
`com.facebook.react.views.text.ReactTextView cannot be cast to android.view.ViewGroup`

I'm running the app on Android 8.0.
react-native 0.56.0
react 16.4.1

My build.gradle is

[code]
Here is a look at my code

[code]

Any leads ?

[EDIT] I also try using sdk 27 in my build.gradle, still not working.

[2018-07-19 09:03] RomaricDel commented on #20
I found the problem.
On android I was using a TouchableNativeFeedback element as ref for the popover menu, as follow:
[code]

On IOS I have no problem, but i'm using a TouchableOpacity element

[code]

If I replace TouchableNativeFeedback by TouchableOpacity on Android the popover works !

So in conclusion TouchableOpacity has a ref compatible with the java ViewGroup class, but ref of a TouchableN

[2018-07-21 07:03] prscX commented on #20
Thanks @RomaricDel for raising the issue.

I have fixed the root cause and pushed a release with [V0.0.18](https://github.com/prscX/react-native-popover-menu/releases/tag/v0.0.18). Can you please install latest version and verify the same. Let me know incase you still face the same issue.

Thanks
</ Pranav >

[2018-07-21 07:03] #20 closed

[2018-07-21 07:08] prscX commented on #19
Thanks @craig95 for raising the issue.

Ideally we should add a condition for checking the ref is undefined or not. Only when the ref is not undefined we should assign its value to the variable.

[code]

Thanks
</ Pranav >

[2018-07-21 07:10] prscX commented on #15
Hi @dungnguyen10989: If your concerns are addressed, can we please close the issue.

Thanks
</ Pranav >

[2018-08-06 06:14] Cassendra4 opened #21 "App crashes when using the icon prop"
When I call RNPopoverMenu.Show() my app crashes. I can't understand why. But this happens if I use the "icon" prop. I guess this is something with the 'family' prop.

Versions:
 "react-native-vector-icons": "4.5.0",
"react-native-popover-menu": "0.0.18",

Here is my code:

[code]
[code]

[code]

[2018-08-06 08:48] prscX commented on #21
Thanks @Cassendra4 for raising the issues.

Is icon rendered on the screen?

Thanks
</ Pranav >

[2018-08-06 08:52] Cassendra4 commented on #21
No, Actually I can't see anything rendering related to the menu because when I call RNPopoverMenu.Show() the app crashes. But if I remove the "icon" prop and re-render, then of course the menu renders fine with labels

[2018-08-07 05:29] prscX commented on #21
@Cassendra4: I believe the `RNVector -> MaterialCommunityIcons` is not properly configured to your iOS app.

Can you please try by rendering the same icon on the app screen apart from menu. If it renders then it should render here as well. Please share your findings.

Thanks
</ Pranav >

[2018-08-07 09:01] Cassendra4 commented on #21
Hi, I actually tried this on Android. This import
`import Icon2 from 'react-native-vector-icons/MaterialCommunityIcons';` works fine with all the other places. I used it just to add a button as shown in the figure below.

![screenshot_1533632162](https://user-images.githubusercontent.com/8186992/43765721-3e139582-9a4e-11e8-9a1b-fddf5ca85ffb.png)

When I click on the 3 vertical dots icon, I get the

[2018-08-20 12:32] prscX commented on #21
Thanks @Cassendra4 for the sharing the requested details.

I have made few changes in order to fix the issue. Can you please upgrade the library to [V0.0.19](https://github.com/prscX/react-native-popover-menu/releases/tag/v0.0.19).

Please let me know incase you still face the same issue.

Thanks
</ Pranav >

[2018-08-20 12:32] #21 closed

[2018-10-02 07:52] szaid07 opened #22 "Undefined is not an object (evaluating 'RNPopoverMenu.Show') react native"
This issue is coming when i am running the project.

[2018-10-20 18:31] mickaelw opened #23 "onCancel is not working on Androind"
I'm on RN 0.57 and on 0.0.19 popover menu version.

[code]

And only on Android the callback onCancel is not trigger when I click outside the popover menu.

[2018-10-30 15:41] jayeshanandani opened #24 "Could not find intellij-core.jar (com.android.tools.external.com-intellij:intellij-core:26.0.1)"
When looking into the URL given it gives Resource not found error. The Jar File might have been removed.

Steps to reproduce

React native init newpopover
npm install react-native-popover-menu --save
react-native link
react-native run-android
On executing step 4, it starts resolving the dependencies for ReactNative Popover: This error is shown in the Terminal:

* What went wrong:
A problem occurre

[2018-11-09 16:03] SystemBlad opened #25 "react-native-popover-menu not working in android API level less than 21 (Android 5.0)"
Hi guys, I've tried this great library on a device with Android 4.4, but unfortunately it does not work.

The error is produced by  this line in file RNPopoverMenuModule.java

![image](https://user-images.githubusercontent.com/2042213/48272761-67ae8b00-e40d-11e8-9f3e-f919c3e0ddae.png)

Can you update your code so that the library will be compatible with all the versions of android that React Nativ

[2018-12-05 02:31] jpaas opened #26 "Podspec has incorrect source_files glob and homepage is required"
I'll submit a PR shortly

[2018-12-07 22:38] jpaas opened #28 "Custom configuration not being passed to FTPopOverMenu"
Although the `FTPopOverMenuConfiguration` is constructed, it is not being passed to `FTPopOverMenu` when calling `showForSender`. So none of the style props are working on iOS.

[2018-12-08 08:30] #28 closed

[2018-12-09 14:55] dileepbolisetti opened #30 "Android App Crashing"
![screen shot 2018-12-09 at 7 51 10 pm](https://user-images.githubusercontent.com/8918698/49698934-89f41e00-fbf0-11e8-8457-00c471c0e65e.png)

[2018-12-13 15:19] gablorquet commented on #30
It seems to happen only if you use the icon property

[2018-12-18 03:22] shuiRong opened #31 "`execuing pod install command ` action is pending"
![image](https://user-images.githubusercontent.com/16076993/50130011-a3632d00-02b6-11e9-8779-67eb11fee993.png)

the action is pending more than twenty minutes.

P.S. [cnpm](https://github.com/cnpm/cnpm) is a client for China mirror of npm.

[2018-12-19 07:45] shuiRong commented on #31
The problem has gone when i upgrade my yarn version (from 1.3.x to latest) [more info here](https://github.com/yarnpkg/yarn/issues/5268).

and it is not a bug of react-native-popover-menu. so closed.

[2018-12-19 07:45] #31 closed

[2018-12-19 09:06] mohanasundaramn opened #32 "position of popover appearance is strange in android"
"react": "^16.6.1",
"react-native": "^0.57.5",
"react-native-popover-menu": "0.0.22"

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/24430497/50210043-2eb5ee80-039b-11e9-945d-bb5d7a175909.gif)

How do I fix this, I want to show popover on the corresponding button press. I am using the API way.

[2018-12-19 10:51] shuiRong commented on #21
I got same "crashes". **same code** (with Cassendra4 ) , same behavior.

version:
[code]

more info:

Android platform

build.gradle
[code]

[2018-12-22 15:19] shuiRong commented on #32
@prscX
so do i (Android)
it seem to happen if it is inside of a list.

[2018-12-27 12:11] xiaozhongwei opened #33 "RNPopoverMenu.Show must not be null."
![image](https://user-images.githubusercontent.com/10685005/50479835-7da2fa00-0a13-11e9-8f0d-a612e911edfb.png)

After many attempts and reinstallations, I can't solve this problem.

[2018-12-27 14:43] mehdilamrini commented on #33
You have to set a ref to your touchable and pass this ref to your show function like this
` _show(ref) {
    this.ref = ref
    this.setState({
      menuVisible: true
    });
  }`

` <TouchableOpacity style={styles.treeDotsStyle}  ref={ref => {
          this.ref1 = ref
        }} onPress={() => this._show(this.ref1)}>.....`

This should do the trick!

[2019-01-06 13:19] Shanie1331 opened #34 "Need to implement Onpress event on RNPopover.Menu"
Please help!!!

<RNPopover.Menu label={"Copy"} icon={copy} />

Need to call function on the above line

[2019-01-06 14:23] Shanie1331 opened #35 "x"

[2019-01-06 14:24] #35 closed, assigned to nobody

[2019-01-06 14:40] Shanie1331 commented on #23
Same Issue.
@prscX  any updates.

[2019-02-26 10:33] rash6795 opened #36 "positioning the pop-up in ios"
![simulator screen shot - ipad pro 9 7-inch - 2019-02-26 at 15 56 15](https://user-images.githubusercontent.com/34880490/53406242-91e98000-39df-11e9-8b55-78fd2bacb88e.png)

**The button is in left of the view but the pop-over menu appears at the centre. Is there any way to give position so that it appears to left ?.  Or is there any configuration i missed in the code ?**

My code is as follows:

l

[2019-04-04 10:53] rash6795 commented on #36
any hack-around or solution for this ????

[2019-05-18 14:32] evanskenobi opened #38 "SelectedRowBackgroundColor and Separator Color dont work on iOS"
Setting selectedRowBackgroundColor and separatorColor props have no effect on the menu color. All the other color props seem to work. I havent tested this module on Android just yet so i cant say if it works or not on that platform

[2019-06-10 07:35] emannick commented on #36
any solution for this?

[2019-08-31 08:10] hossamnasser938 commented on #23
same here

[2019-09-12 04:17] thepday12 commented on #23
I think @prscX  u need update version of material-popup-menu 2.20  to **3.2.0**.  material-popup-menu support func **setOnDismissListener**  for **MaterialPopupMenu**

[2019-09-14 13:42] enisinanaj opened #39 "Cannot synthesize weak property because the current deployment target does not support weak references"
Cannot build the app. I get the error
: Cannot synthesize weak property because the current deployment target does not support weak references

[2019-09-15 16:40] enisinanaj commented on #39
I added the following in Podfile as a workaround for this issue. Still not sure why it happens.

at the end of `node_modules/react-native-popover-menu/ios/Podfile` add:
[code]

I'm using XCode 10.

[2019-10-14 08:07] longnk-1447 opened #40 "Example not working in ios 0.61.2"
![Simulator Screen Shot - iPhone X - 2019-10-14 at 15 07 15](https://user-images.githubusercontent.com/30386318/66736766-529b7100-ee94-11e9-97f8-1d10c7d14e17.png)

[2019-10-14 08:40] #40 closed

[2019-10-14 09:36] longnk-1447 opened #41 "Cannot resize Icon in iOS"

[2019-10-17 18:57] zyasir opened #42 "Multiple clicks?"
Is it possible keep this open and allow multiple presses? I was trying to make a checkbox experience like this:

![](https://thumbs.gfycat.com/OrdinaryFlippantAlbacoretuna-size_restricted.gif)

[2019-10-28 13:29] vforvasile commented on #42
Popover menus are usually using a single action. What you're trying to achieve is a selection, try this [https://github.com/prscX/react-native-selection-menu](https://github.com/prscX/react-native-selection-menu) instead.

[2019-10-28 17:17] zyasir commented on #42
Thank you very much @vforvasile!

[2019-10-28 17:17] #42 closed

[2019-11-26 19:31] mernxl commented on #25
Having same issues, all phones with less than API 21, crashes with this error.

[code]

[2019-11-29 11:45] victor-schena opened #43 "onDone is not passing selected parameter correctly on Android."
Hi,
I have a popover with 3 options the user can choose. On Ios it works just fine, but when I run it on Android, the onDone method pass the "selection"  as a blank parameter. Could you help me out?

[2019-11-29 12:41] #43 closed

[2019-12-03 15:05] Unforgiven-wanda commented on #23
Seems this problem persists a year after. Can we still hope for a fix?
Thank you.

[2019-12-05 18:10] wsflook commented on #34
man sorry my ignorance, but need one example more details

Exemple:
<Touchable
              background={Touchable.Ripple()}
              onPress={() => this.props.navigation.navigate('Config')}>
              <RNPopover.Menu label={'Config'} />
            </Touchable>

[2019-12-08 10:03] prscX commented on #41
Thanks @longnk-1447 for raising issue.

I have looked into the native [iOS library](https://github.com/liufengting/FTPopOverMenu), it looks like it does not support specifying icon size and it defaults take icon size.

Let me know incase you if anything.

Thanks
</ Pranav >

[2019-12-08 10:10] prscX commented on #39
Thanks @enisinanaj  for raising the issue.

Could you please upgrade the library to latest version and RN61+ since it has default support for cocoapods.

Please follow installation steps for the same.

Thanks
</ Pranav >

[2019-12-08 10:13] prscX commented on #36
Thanks @rash6795 for raising issue.

I would recommend to add popover to label or inner view instead of root parent. It is showing expected behaviour since it take center of the view width.

Closing the issue since it is an expected behaviour.

Thanks
</ Pranav >

[2019-12-08 10:13] #36 closed

[2019-12-08 10:15] prscX commented on #34
@wsflook: You can go through example project for the usage.

@Shanie1331: Closing the issue, since you have found the solution.

Thanks
</ Pranav >

[2019-12-08 10:15] #34 closed

[2019-12-08 10:17] prscX commented on #33
Thanks @xiaozhongwei for raising the issue. Looks like the native library was not linked properly.

I would recommend to upgrade library to latest released version `V1.*` and RN61+ since it has default support for cocoapods.

Thanks
</ Pranav >

[2019-12-08 10:17] #33 closed

[2019-12-08 10:54] prscX commented on #32
Thanks for raising the issue.

I believe, it is expected behaviour on Android. Basically the popover is rendered by native library which we have integrated and it is not possible to modify its behaviour.

Thanks
</ Pranav >

[2019-12-08 10:54] #32 closed

[2019-12-08 10:59] prscX commented on #30
@dileepbolisetti: Could you please specify you usage and the icon you have used.

Thanks
</ Pranav >

[2019-12-08 11:04] prscX commented on #25
Thanks @SystemBlad for raising issue and sharing solution.

I have added the shared source to library. You can now download latest version.

Thanks
</ Pranav >

[2019-12-08 11:04] #25 closed

[2019-12-08 11:11] prscX commented on #23
Thanks @thepday12 for sharing the API and solution.

I have integrated fix and pushed the release. You can now use latest version for the same.

Thanks
</ Pranav >

[2019-12-08 11:11] #23 closed

[2019-12-09 08:26] prscX commented on #19
Hope the above shared approach would have worked. Closing the issue.

Thanks
</ Pranav >

[2019-12-09 08:26] #19 closed

[2019-12-10 02:39] Bruce-Leo-D opened #44 "TypeError:null is not an object(evaluating RNPopoverMenu.Show)"
I followed the example but it appeared this error message,The project is built by react-native init
"react": "16.9.0",
    "react-native": "0.61.5",
    "react-native-gesture-handler": "^1.5.2",
    "react-native-popover-menu": "^1.0.1",
    "react-native-reanimated": "^1.4.0",
    "react-native-tab-view": "^2.11.0",
    "react-native-vector-icons": "^6.6.0"
How should i fix it

[2019-12-10 12:08] #44 closed

[2019-12-10 20:30] NachosSs opened #45 "App crash Android when using useRef"
Hi,
I try to use your component with useRef hook, but the App Crashing when i set myRef.current in RNPopoverMenu.show

`Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter anchor`

Could you tell me how I can fix this ? Thanks

[2019-12-28 12:35] sagar-chhatrola opened #46 "Invariant Violation: No callback found with cbID 5403 and callID 2701 for RNPopoverMenu.Show - most likely the callback was already invoked. Args: '[]'"
I am facing this error only on android, when press on menu label. Does anyone getting like this ?
If anyone have solution, please help me.
![WhatsApp Image 2019-12-28 at 6 04 08 PM](https://user-images.githubusercontent.com/25894991/71543745-a5b59800-299c-11ea-8ea1-7547319ae1e2.jpeg)

[2020-01-08 09:21] prscX commented on #45
Thanks @NachosSs for raising issue.

As per my understanding the ref which you are passing is null/undefined. I have never tried to use library using hook.

Please make sure the ref which you provide is not undefined.

Thanks
</ Pranav >

[2020-01-08 09:26] prscX commented on #46
@sagar-chhatrola: Could you please share software stack and the code snippet.

Thanks
</ Pranav >

[2020-01-20 15:30] mscharl commented on #38
Hey, I couldn't reproduce the `selectedRowBackgroundColor` problem. Maybe it's fixed since this issue is quite old. But I also hab a problem with the `separatorColor` which should be fixed with this #47

[2020-01-21 06:08] #38 closed

[2020-01-24 05:52] drummerpva commented on #46
I'm having the same problem and I'm using "React Way" with a functional component, Callback onCancel is ok but Callback onDone shows error `... RNPopoverMenu.Show - most likely the callback was already invoked. Args:'[]'`, please check my code please ...
`<PopoverMenu
        visible={openMenu.open}
        reference={openMenu.ref}
        onDone={(mainMenuSelection, subMenuSelection) => {

[2020-01-24 11:32] vforvasile opened #48 "Make vector-icons optional"
It would be cool if react-native-vector-icons was optional.

For instance, if I use custom Icons I don't want to add an additional 2MB+ of icons to my bundle.

[2020-01-24 13:18] prscX commented on #48
Got you. I need to check for conditional import, however if you don't specify/ configure icons in xcode or android build setting then it won't bundle icons and will not increase your build size. Could you try and share your findings, please.

[2020-01-25 02:28] drummerpva opened #49 "Error: Invariant Violation: No callback found with cbID 5403 and callID * for RNPopoverMenu.Show - most likely the callback was already invoked. Args: '[]'"
I'm having the problem with a functional component, Callback onCancel is ok but Callback onDone shows error ... RNPopoverMenu.Show - most likely the callback was already invoked. Args:'[]'
`<PopoverMenu
  visible={openMenu.open}
  reference={openMenu.ref}
  onDone={(mainMenuSelection, subMenuSelection) => { console.log('mainMenuSelection',
    mainMenuSelection); console.log('subMenuSelection', su

[2020-01-28 00:04] dayaki commented on #45
@spaquis do you have a solution? I figured a way of doing it.

[2020-02-11 14:21] dayaki commented on #46
@sagar-chhatrola @drummerpva any solution? I am facing same problem. @prscX any help?

[2020-02-11 15:22] prscX commented on #46
Could you try the same using static API's and also please share the library version you are using.

[2020-02-11 15:33] drummerpva commented on #46
@dayaki nothing, i gave up using and implemented my system without popover

[2020-02-11 23:28] dayaki commented on #46
I am using the API version and library version is 1.0.3

[2020-02-12 12:11] prscX commented on #46
@dayaki: I have checked the issue. It might take sometime to get the right fix in place.

But for now you can comment out below line under `react-native-popover-menu/android/src/main/java/ui/popovermenu/RNPopoverMenuModule.java`

Line 189: `menu.setOnDismissListener(onCancelCallback);`. Doing this cancel callback will not be invoked, thats the side effect.

I will update once I have a fix in place

[2020-02-12 12:13] prscX commented on #49
I have checked the issue. It might take sometime to get the right fix in place.

But for now you can comment out below line under `react-native-popover-menu/android/src/main/java/ui/popovermenu/RNPopoverMenuModule.java`

Line 189: `menu.setOnDismissListener(onCancelCallback);`. Doing this cancel callback will not be invoked, thats the side effect.

I will update once I have a fix in place.

Thanks

[2020-02-13 01:28] dayaki commented on #46
@prscX Thanks, that solves it.

[2020-02-13 01:31] dayaki opened #50 "Icon returning undefined"
somehow, this code `const play = <Icon family="EvilIcons" name="play" color="#000" size={24} />;` is returning this warning: React.createElement: type is invalid.

console.log `play` returns this: `<UNDEFINED color="#000" family="MaterialIcons" name="delete-forever" size={24} />`

Why is it showing UNDEFINED?

[2020-02-17 09:49] hossamnasser938 commented on #39
@prscX  I'm getting the same error with RN 0.61.5 and popover-menu 1.0.3

[2020-02-21 08:23] prscX commented on #50
@dayaki: Could you share how you have imported Icon class. Did you installed and configured `react-native-vector-icons` library?

Thanks
</ Pranav >

[2020-02-21 08:25] prscX commented on #49
`onCancel` was not supported on Android. I have removed `onCancel` prop and pushed a V2.* release with few other changes. Please follow `README` for the installation steps.

Thanks
</ Pranav >

[2020-02-21 08:25] #49 closed

[2020-02-21 08:25] prscX commented on #46
`onCancel` was not supported on Android. I have removed `onCancel` prop and pushed a V2.* release with few other changes. Please follow `README` for the installation steps.

Thanks
</ Pranav >

[2020-02-21 08:25] #46 closed

[2020-02-24 13:02] devdigitalappteam opened #51 "iOS work fine while Android Crash"
java.lang.IllegalArgumentException: Section 'SectionHolder(title=Edit Profile, itemsHolderList=[])' has no items!
        at com.github.zawadz88.materialpopupmenu.MaterialPopupMenuBuilder$SectionHolder.convertToPopupMenuSection$material_popup_menu_release(MaterialPopupMenuBuilder.kt:134)
        at com.github.zawadz88.materialpopupmenu.MaterialPopupMenuBuilder.build(MaterialPopupMenuBuilder.kt:83)

[2020-02-25 01:21] prscX commented on #51
Could you please share code snippet of the usage so that I can try the same.

Thanks

[2020-03-18 07:45] nhuttam opened #52 "[Android, iOS] App crash when add icons in menus"
Error: You attempted to set the key `icon` with the value `{"name":{"family":"Material Design Icons","name":"face-recognition","color":"#000000","size":20,"glyph":"ﱗ"},"family":"","glyph":"","color":"","size":0}` on an object that is meant to be immutable and has been frozen.

It's happen when close popover and open popover again.

[2020-05-03 10:28] skgonh08 opened #53 "Can we use this in expo?"
Can we use this package in expo?

[2020-05-14 11:29] Unforgiven-wanda commented on #53
No, unless you eject to bare workflow.

[2020-05-14 11:57] Unforgiven-wanda opened #54 "Icons are not displayed in bare expo project"
Hello,
I am using your lib in an ejected Expo project (bare, not Expokit) it works well except for the fact that the icons are not displayed.
I have tried with both imports "react-native-vector-icons" and "@expo/vector-icons" and in both cases the icon does not appear.

Any fix?
Thank you.

[2020-06-22 07:43] harsh-kyatch commented on #52
I am also getting the same issue.

[2020-06-22 08:02] harsh-kyatch commented on #52
when you click on button that time only you prepare menu array and assign to RNPopoverMenu.Show. It will work

[2020-07-15 07:11] pkpardeep482 opened #55 "Android crash with this log Parameter specified as non-null is null"
java.lang.IllegalArgumentException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter anchor
        at com.github.zawadz88.materialpopupmenu.MaterialPopupMenu.show(Unknown Source:7)
        at ui.popovermenu.RNPopoverMenuModule$2.run(RNPopoverMenuModule.java:190)
        at android.os.Handler.handleCallback(Handler.java:873)

[2020-12-07 09:24] zuijiusi commented on #52
I see the same matter when I click the menu second.

[2021-11-26 15:53] darkbasic opened #60 "Could not find com.github.zawadz88.materialpopupmenu:material-popup-menu:4.1.0"
It doesn't work with latest react-native on Android:

[code]

I'm using `react-native-popover-menu@2.0.2`.

[2021-12-28 06:51] hardibhalodiya commented on #60
I am also facing same issue, can anyone suggest solution for this.

[2022-03-07 15:28] anhquan291 commented on #60
I'm facing the same issue. Any helps please? Thanks a lot

[2022-08-20 10:49] gdoudeng commented on #60
+1

[2022-08-31 18:12] mucahittekin commented on #60
I suggested fix in #61 PR

[2022-09-06 05:00] fukemy opened #62 "support customView(android)"
Can u support customView like this? THanks
![Screenshot 2022-09-06 at 12 00 19](https://user-images.githubusercontent.com/8202437/188550628-0f0ccd78-844f-4e53-b8b2-aa2d106dc51e.png)